body{
    text-align: center;
    background-image: url("bck_img.jpg");
}
h1,h2{
    color: white;
     font-family: "Playwrite HU", cursive;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;

}
.yellow{
 background-color: #f99b45;
}
.red{
 background-color: #d95980;
}

.purple{
 background-color: #819ff9;
}

.green{
 background-color: #63aac0;
}

.flash{
    background-color: whitesmoke;
}
.userflash{
    /* background-color: green; */
    border: 5px solid silver;
}
